@{
    ViewData["Title"] = "Home Page";
}
@{
    DateTime date = DateTime.Now;
    DayOfWeek nowDayWeek = DateTime.Now.DayOfWeek;

    string day = date.Day.ToString();
    string month = date.ToString("MMMM");
    string dayOfWeekNow = nowDayWeek.ToString();

}
<div class="text-center">
    <h1 class="display-4">Welcome CORAZAVILLE</h1>
    <p>@date</p>
    @{
        if (date.Hour >= 0 && date.Hour < 12)
        {

            <p class="text-center">It is morning on @dayOfWeekNow, @day, @month.</p>
        }
        else if (date.Hour >= 12 && date.Hour < 17)
        {
            <p class="text-center">It is afternoon on @dayOfWeekNow, @day, @month.</p>
        }
        else
        {
            <p class="text-center">It is evening on @dayOfWeekNow, @day, @month.</p>
        }

    }
</div>
